.btn {
  background-color: pink;
  padding: 5px;
  margin: 10px;
  width: 100px;
  border-radius: 50px;
}

input {
  width: 210px;
  border-radius: 50px;
  padding: 3px;
  border: 10pxpx orangered;
}
